@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*======================*/
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d1c1c;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  min-height: 100%;
  margin: 0px auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0px auto;
}

/*    Стили Шапки
=======================*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #eee;
  border-bottom: 1px solid #6c7279;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  position: relative;
  /*justify-content:center;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-saitbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-radius: 50%;
  background-color: #534e4e;
  overflow: hidden;
  margin: 0 15px 0 0;
}

.header__nav-logo img {
  width: 60px;
  height: 60px;
}

.nav-menu__link {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #6c7279;
  padding: 0 30px;
  opacity: 0.85;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.nav-menu__link:hover {
  opacity: 1;
}

.nav-menu__link:last-child {
  padding: 0 0 0 30px;
}

/*======================*/
/*               Стилт Формы   
=========================================*/
.form {
  display: inline-block;
  max-width: 550px;
  height: 100%;
  background-color: rgba(24, 23, 23, 0.555);
  padding: 100px 50px;
  margin: 0 auto;
  /*_sending*/
}

.form__body {
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 23, 23, 0.014) url(../img/ZZ5H.gif) center/50px no-repeat;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.form__item {
  margin: 0 0 20px 0;
}

.form__label {
  font-size: 18px;
  display: block;
  margin: 0 0 10px 0;
}

.form__input {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  border-radius: 7px;
  font-size: 18px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px #f70202;
          box-shadow: 0 0 15px #f70202;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #05055c;
          box-shadow: 0 0 15px #05055c;
}

.form__input-textarea {
  width: 100%;
  min-height: 120px;
  border-radius: 7px;
  resize: vertical;
  padding: 20px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__input-textarea:focus {
  -webkit-box-shadow: 0 0 15px #05055c;
          box-shadow: 0 0 15px #05055c;
}

.form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background-color: blue;
  border-radius: 30px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 0 #05055c;
          box-shadow: 0 5px 0 #05055c;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0px;
}

.form__button:hover {
  background-color: #05059b;
  color: #cecaca;
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0 3px 0 #05055c;
          box-shadow: 0 3px 0 #05055c;
}

.form * {
  outline: none;
}

.options {
  padding: 10px 0 0 0;
}

.options__item {
  margin: 0 0 10px 0;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.options__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.options__label::after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: blue;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.select {
  padding: 0;
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0px;
  cursor: pointer;
}

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: blue;
  padding: 0 20px;
}

.file__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100px;
  padding: 10px 0 0 0;
}

.file__preview img {
  max-width: 100%;
}

.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0 0 15px #f70202;
          box-shadow: 0 0 15px #f70202;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  -ms-flex-item-align: start;
      align-self: flex-start;
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 10px 0 0;
}

.checkbox__label::after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: blue;
  border-radius: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.checkbox__label a {
  color: blue;
}

/*=========================================*/
/*                   Стили Подвала  
======================================================*/
.footer {
  background-color: #eee;
  border-top: 1px solid #6c7279;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: #6c7279;
}

/*====================================================*/
